{% extends "peitrak/base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Profile</h1>
        
        <h2>Account Information</h2>
        {% if account %}
        <p><strong>Account name.:</strong> {{ account.user.username }}</p>
           
            <p><strong>Account no.:</strong> {{ account.id }}</p>
            <p><strong>Balance:</strong> ${{ account.balance }}</p>
        {% else %}
            <p>No account information available.</p>
        {% endif %}
        
        <h2>Transactions</h2>
        {% if transactions %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Transaction ID</th>
                        <th>Transaction</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.id }}</td>
                        <td>
                            {% if transaction.source.username == username%}
                            &#10148{{ transaction.destination.username }}
                            {% else %}
                            &#9194{{ transaction.source.username}}
                            {% endif %}
                        </td>
                        <td>${{ transaction.amount }}</td>
                        <td>
                            {% if transaction.cancelled %}
                            cancelled
                            {% elif transaction.rejected %}
                            rejected
                            {% elif transaction.received %}
                            received
                            {% elif transaction.sent %}
                            sent
                            {% endif %}
                        </td>
                        <td>
                            {% if request.user == transaction.destination %}
                                <a href="{% url 'receive_transaction' transaction.id %}" class="btn btn-success btn-sm">Receive</a>
                                <a href="{% url 'reject_transaction' transaction.id %}" class="btn btn-danger btn-sm">Reject</a>
                            {% elif request.user == transaction.source %}
                                <a href="{% url 'cancel_transaction' transaction.id %}" class="btn btn-warning btn-sm">Cancel</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No completed transactions found.</p>
        {% endif %}
        
        
        </div>

{% endblock %}
